# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Environments
.venv/
venv/
.env

# UV
.uv/
uv.lock

# IDE / Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Browser drivers
chromedriver*
